*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html{
    overflow: hidden;
    scroll-behavior: smooth;
}
.container{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.nav-header{
    position: relative;
}
.navbar .fa-xmark{
    position: absolute;
    top: 6.5%;
    right: 8%;
    display: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.nav{
    position: fixed;
    width: 100%;
    z-index: 2000;
    height: 100vh;
    background-color: #000;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;

}
 .hideNav{
    display: none;
}
.nav h2{
    padding-top: 20px;
}
.nav-cont-sm ul li{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    list-style: none;
}
.nav-cont-sm ul li a{
   text-decoration: none;
   color: #f9004d;
   cursor: pointer;

}
.nav-cont-sm ul{
    margin-top: 30px;
    margin-bottom: 30px;
}
.hero{
    display: flex;
    /* justify-content: space-between; */
    height: 100%;
    width: 100%;
    background-color: #000;
    padding-top: 100px;
    padding-bottom: 100px;

    /* background-image: url(/me.jpg); */
    /* background-size: cover;
    background-position: center; */
}
.navbar{
    width: 100%;
    position: sticky;
    background-color: #000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    z-index: 1;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;


}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
.logo a{
    color: white;
}
span{
    color: #f9004d;
}
nav .unorder-list li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav .unorder-list li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav .unorder-list li a:hover{
    color: #f9004d;
    transition: .4s;
}
.nav-cont{
    display: flex;
    flex-direction: row;
}
nav .fa-bars{
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: relative;
    margin-left: 8%;
    padding-top: 150px;
    /* width: 50%; */
    
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.content .img-round{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-bottom: 20px;
    display: none;
}
@media (max-width: 1013px) {
   
    h1{
        font-size: 40px;
       }
    .nav-cont{
        display: none;
        position: absolute;
        top: 15%;
        flex-direction: column;
    }
    nav .unorder-list li{
       display: block;
       font-size: 30px;
       margin-top: 40px;
       margin-bottom: 50px;
       padding: 0px;
       font-weight: 600;


    }
    nav .nav-cont .btn{
       
    }
   
    nav .fa-bars{
        display: block;
    }
   
   .navbartog{
    height: 100vh;
    align-items: start;
    position: fixed;
    top: 0;
   }
 
   

}

@media  (max-width: 1000px) {
    .hero{
        padding-top: 30px;
    }
    h1{
       
        margin-top:20px;
        
    }
   .img{
    display: none;
   
   }
   .content{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    margin-top: 0px;
   }

   .content .img-round{
   
    display: block;
}
.newslatter form{
    width: 100%;
    max-width: 100%;
    position: relative;
}
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.about-text{
    width: 50%;
    margin-left: 8%;
    margin-right: 8%;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: justify;
}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
@media  (max-width: 700px) {
    .about-text{
        width: 100%;
    }
    .about-text h2{
        font-size: 40px;
        
    }
    
   

}

.skills{
    width: 100%;
    padding: 100px 0px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.skills-text{
    width: 50%;
    margin-left: 8%;
    margin-right: 8%;
    /* display: none; */
}
.skills-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.skills-text li{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #fcfc;


}
@media  (max-width: 700px) {
    .skills-text{
        width: 100%;
    }
    .skills-text h2{
        font-size: 40px;
        
    }
    
   

}
.service{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-text{
    width: 50%;
    margin-left: 8%;
    margin-right: 8%;
    /* display: none; */
}
.service-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.service-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.service-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: justify;
}
@media  (max-width: 700px) {
    .service-text{
        width: 100%;
    }
    .service-text h2{
        font-size: 40px;
        
    }

}
.contact-me{
    width: 100%;
    height: 290px;
    background-color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-left: 8%;
    margin-right: 8%;
}

.button-two{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
@media  (max-width: 700px) {
   
    .contact-me p{
        font-size: 18px;
        
    }
}
.footer{
    position: relative;
    width: 100%;
    /* height: 400px; */
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p{
    position: absolute;
    bottom: 35px;
    color: #f9004d;
    font-size: 14px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}









